@media(width < 912px){
    .navbar{
        height: 12vh;
        width: 100vw;
      }

      .navbar-brand img{
        width: 65px;
        height: 65px;
        margin-left: 0;
      }

      /* ************************************************* */
       /* ************************************************* */
    #contact{
      padding-top: 3vh;
      height: auto;
    }
   .our-contacts{
    width: 100vw;
    height: 35vh;
   }
   .our-contacts p{
    width: 95vw;
    height: 75vh;
   }
   /* ********************************************************* */







      /* ************************************************************** */

    footer{
        display: flex;
        width: 100vw;
        height: 12vh;
        justify-content: center;
        align-items: center;
      }
  
      .foot{
        display: flex;
        width: 100%;
        height: 100%;
      }
}